#contactForm{
    max-width: 1780px;
    display: block;
    text-align: -webkit-center;
    padding-top: 35px;
    padding-bottom: 35px;
}
#contactFormContainer{
    background: #00427b45;

}

#form{
    border-radius: 10px;
    padding: 30px;
    background: #848484d4;
    width: max-content;
    max-width: 700px;
}

.field {
    display: inline-block;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 27px;
    color: #ffffff;
}

.field input {
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.5;
    display: inline-block;
    min-width: 340px;
    height: 60px;
    word-break: break-all;
    margin-bottom: 18px;
}


input[type="submit"] {
    border-radius: 10px;
    display: block;
    padding: 6px 30px;
    font-size: 26px;
    background-color: greenyellow;
    color: black;
    border: none
}

#message{
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.2;
    min-width: 694px;
    max-width: 694px;
    min-height: 120px;
    padding: 5px;
}

.warning{
    border: 2px solid red;
}
#contact{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}


#cMe{

    font-size: 25px;
    text-align: center;
}
#c1{
    font-size: 40px;
    line-height: 20px;
}
#details{
    font-family: sans-serif;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    vertical-align: top;
}
.headline{
    font-size: 30px;
    font-weight: bold;
}
.headline img{
    width: 35px;
    vertical-align: middle;
}
.infoline{
    font-size: 28px;
    color: whitesmoke;
    margin-left: 45px;
    margin-top: -22px;
    margin-bottom: 40px;
}
.infoline a{
    color: whitesmoke;
}
#mapLocation{
    display: inline-block;
    width: 660px;
    height: 340px;
    background: #8ab4f8;
    margin-left: 123px;
    margin-bottom: 40px;
}