body{
    margin:auto;
}
#main{
    color: greenyellow;
    height: 1000px;
    background-image: url("../content/wall3.jpg");
}

.header *{
    vertical-align: middle;
}

#topLinks li, #topLinks, #socialLinks, #socialLinks li{
    display: inline-block;
}
#home img {
    margin-left: 30px;
    width: 90px;
    margin-right: 200px;

}
.line{
    margin-left: 28px;
    cursor: default;
}
#topLinks{
    font-weight: bold;
    font-size: 27px;
    font-family: sans-serif;
    margin-right: 60px;
}
#topLinks li a{
    color: black;
    margin-left: 20px;
    text-decoration: none;
}
#topLinks a:hover{
    transition: .3s ease;
    color: white;
}

#socialLinks li{
    margin-left: 10px;
}
#socialLinks img{

    width: 50px;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(360deg, #494747, #61f77b);
}


#form{
    background: #36ed1d61;
    width: max-content;
}


.footer{
    background: linear-gradient(360deg, #494747, #61f77b);
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}




.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    word-break: break-all;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
}

#message{
    width: 250px;
    height: 80px;
}

.warning{
    border: 2px solid red;
}
#contact{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}