
#heading{
    margin-left: 50px;
}
#infoP{
    margin-left: 50px;
    font-size: 20px;
}
#projects{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}
#projectCards{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.card{
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: 6px solid #6fa15f;
    background: #61f77b7a;
    height: 270px;
    max-width: 700px;
    display: block;
    margin-bottom: 35px;

}
#animation{
    display: inline-block;
}
.card h1{
    line-height: 0;
    min-width: max-content;
    padding-bottom: 20px;
}
.desc{
    font-size: 20px;
    padding-top: 10px;
    width: 40%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}
.card img{
    width: 50%;
    float: right;
    max-height: 80%;
}
.card:hover{
    cursor: pointer;
}
#projectAvtokamp, #projectWeather, #projectMusic,  #projectLogoDesigns, #tictactoe, #projectPortWeb{
    display: none;
}
.buttonCSS{
    margin-top: 10px;
    margin-left: 20px;
    vertical-align: top;
    border: 3px solid #38753b;
    width: 220px;
    height: 60px;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 10px;
    background: #98e097;
    color: #00360e;
}

.buttonCSS:hover{
    background: #5bc45a;
    color: white;
    transition: .2s ease;
}

.innerLink img{
    max-width: 30px;
    vertical-align: bottom;
}
.innerLink span{
    font-size: 30px;
    text-decoration: none;
    color: lightskyblue;
}
.innerLink a:active{
    text-decoration-color: blue;
}

#detailedCards{
    padding-bottom: 30px;
    margin: 0px 30px 0px 30px;
}
#detailedCards h1{
    margin-top: 50px;
    margin-bottom: 80px;
}
.inner-desc{
    font-family: Arial;
    color: #bbbbbb;
    font-size: 20px;
    text-align: justify;
    max-width: 800px;
}
#logoImages img{
    max-width: 700px;
    max-height: 300px;
    margin: 20px;
    border: 5px solid darkgreen;
    border-radius: 15px;
}
#tttimg{
    display: block;
    border-radius: 10px;
    border: 5px solid darkgreen;
    width: 730px;
}

#weatherImages img{
    border: 5px solid darkgreen;
    border-radius: 10px;
}
.img1{
    margin: 20px;
    display: block;
    max-width: 800px;
    border: 5px solid darkgreen;
    border-radius: 10px;
}
/*///////////////////////////*/
.carousel {
    max-width: 850px;
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    border-radius: 10px;
    border: 5px solid darkgreen;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    user-select: none;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 50px;
    height: 40px;
    line-height: 31px;
    position: absolute;
    top: 250px;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prevC {
    left: 2%;
}

.carousel-control.nextC {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
/*///////////////////////////*/